.login-page {
    height: 100%;
}

.img-logo {
    /*position: absolute;*/
    /*left: 0;*/
    height: 50px;
}

.container-login {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    /*background-image: url(/public/logo_interfocus.jpg);*/
    /*background-size: cover;*/
}

.login-box {
    align-content: center;
}